# Users media files
uploads

# Dependency directory
node_modules

# Ignore file
.dockerignore
.gitignore

# Built ts files
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?